h1 {
    text-align: center;
    color: rgb(209, 112, 209);
}
body{
    background-color: rgb(108, 225, 225);
}


img {
    height: 20em;
    width: 20em;
}

.inlinepic {
    display:inline-block;
    margin:5vh 0 5vh 9vw;

}

 #cakepichomepage{
    margin-right: 10vw;
}

#viewshomepagebutton{
    margin-left:9vw ;
} 