h1 {
    text-align: center;
    color: rgb(209, 112, 209);
}

body {
    background-color: rgb(108, 225, 225);
}

main {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: white;
}

img {
    height: 20em;
    width: 20em;
}

.content-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.action-container {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 10vw;

}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}